@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
    background-repeat:no-repeat;
    background-size:cover;
}
a{
    text-decoration: none;
}

.logo{
    width: 5rem;
    margin: 1.5rem;
      
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    padding-left: 40rem;
    padding-top: 5rem;
    margin-top:auto;
    list-style-type:none;
}

